@import "tailwindcss";

/* Default Light Mode */
html {
  background-color: #ffffff;  /* Light background */
  color: #171717;  /* Dark text */
  scroll-behavior: smooth;
}

/* Dark Mode Styles (for html and body) */
html.dark {
  background-color: #171717;  /* Dark background */
  color: #f1f1f1;  /* Light text */
}

body {
  background-color: #ffffff;  /* Default background color */
  color: #171717;  /* Default text color */
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode styles for the body */
body.dark {
  background-color: #171717;  /* Dark background for body */
  color: #f1f1f1;  /* Light text for body */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #171717;
  --foreground: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
